/* src/styles.css */
@import "../node_modules/bootstrap/dist/css/bootstrap.css"; 

body {
    background: rgb(45, 147, 213);
    background: linear-gradient(0deg, rgb(126, 197, 204) 0%, rgba(45, 147, 213, 1) 100%);
    background-repeat: repeat-x;
    height: 100vh; /* Ensure the body takes up the full height of the viewport */
    margin: 0; /* Remove default margin */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    color: white; /* Text color */
    /* font-family: 'Dark Grotesque', sans-serif; */
  }
  header {
    text-align: center;
    padding: 50px;
    background-color: #282c34;
    color: white;
  }

  .logo {
    font-size:  50px;
    
  }

  .navigation-bar{
    padding-top: 20px;
    padding-left: 30px;
    ;
  }

  .navbar-nav .nav-item {
    margin-right: 30px; /* Adjust spacing between each nav bar item */
  }

  .navbar-nav .nav-item:last-child {
    margin-right: 0px; /* Remove margin from the last item */
  }

  .navigation-bar .navbar-brand {
    color: white;
  }

  .navbar-nav .nav-link {
    color: white; 
    padding-left: 100px;
  }

  .container {
    padding-top: 100px;
  }

  .heading {
    font-size: 80px;
    line-height: 1.5;
  }

  .section_one{
    margin-left: 40px;
    margin-top: 80px;
    margin-right: 700px;
    font-size: 20px;
  }

  .learn-button{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #000000;
    font-weight: 500;
    border: none;
    border-radius: 5px;
  }

  .side-nav{
    margin-left: 650px;
  }
  