
<style>
  @import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
  </style>

<nav class="navbar navbar-expand-sm navigation-bar">
  <div class="container-fluid">
    <a class="navbar-brand logo" href="javascript:void(0)">DYNAMIC Ai</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-brand side-nav" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">PORTFOLIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">SERVICE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">CONTACT US</a>
        </li>
      </ul>
      <!-- <form class="d-flex">
        <button class="btn btn-primary" type="button">Login</button>
      </form> -->
    </div>
  </div>
</nav>

<div class="section_one">
<div class="heading">
<strong> ROBUST</strong> <br/>
TECHNOLOGY
</div>




<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
  ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <button class="learn-button" type="button">Learn More</button>
</div>






