
<style>
  @import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
  </style>

<nav class="navbar navbar-expand-sm navigation-bar">
  <div class="container-fluid">
    <a class="navbar-brand logo" href="javascript:void(0)">DYNAMIC Ai</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-brand side-nav" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/porfolio">PORTFOLIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">SERVICES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">CONTACT US</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="section_one">
<div class="heading">
<strong> Innovative<br/>
        Technology
</strong> 
</div>
</div>

<div class="landing-body">

<p class="home-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
  ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <button type="button" class="custom-button">Learn More</button>
</div>

<span class="heading2">
  Our Impact
</span>

<div class="row">
  <div class="column">
   <span class="heading3">Total Users </span> <br/>
    <span class="details"> 19000</span>
  </div>

  <div class="column">
    <span class="heading3">Hours Learnt </span> <br/>
    <span class="details"> 325</span>

    
  </div>

  <div class="column">
    <span class="heading3">Courses </span> <br/>
    <span class="details"> 19+</span>
  </div>
</div>


<div class="container">
  <p class="home-paragraph2">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
  ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</div>

<div class="button-container">
<button type="button" class="start-button">Start Your Journey</button>
</div>

<a routerLink="/portfolio">Page Name</a>




